body {
  background-color: #FCFFE7;
}

hr {
  border-style: dotted none none;
  border-width: 5px;
  border-color: #2B3467;
  width: 10%;
}

h1 {
  color: #2B3467;
}

h3 {
  color: #2B3467;
}

body {
  color: #2B3467;
}
