body {
  background-color: #FCFFE7;
}

table {
  width: 75%;
}

hr {
  border-style: dotted none none;
  border-width: 5px;
  border-color: #2B3467;
  width: 25%;
}

h1 {
  color: #2B3467;
}

h3 {
  color: #2B3467;
}

body {
  color: #2B3467;
}

img {
  max-width: 100%;
  height: auto;
}

